body{
    margin: 0;
    padding: 0;
}

#coolness-bar{
    width: 50%;
    background-color: lightgray;
}

#inner-coolness-bar{
    width: 1%;
    height: 30px;
    background-color: blue;
}

#fuel-bar{
    width: 50%;
    background-color: lightgray;
}

#inner-fuel-bar{
    width: 1%;
    height: 30px;
    background-color: brown;
}


div.app{
    font-size: 1.5cm;
    border: 1px solid black;
    height: 600px;
    width: 1500px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:    'carList output'
                            'pics pics'
                            'bars bars';


}

div.carList{
    grid-area: carList; 
    font-size: large;  
    
    position: relative; top: 50%;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
div.output{
    grid-area: output;
    font-size: 1.5cm;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    position: relative; top: 50%;
}
div.buttons{
    grid-area: buttons;
}
div.pics{
    grid-area: pics;
}
div.bars{
    grid-area: bars;
    font-size: large;
    border: solid black 2px;
    min-width: 400px;
    padding: 10px;
}

#driveBtn{
    height: 50px;
    width: 100px;
}

#buttons{
    display: flex;
    flex-direction: row;
    padding: 5px;
}

